<div class="content-width">
    <app-page-title title="출금 신청 내역"></app-page-title>
    <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" (dbldata)="onDblClick($event)"
    [upModal]="{temp: template, width: 500, height:590, data: form}"></app-admin-grid>
</div>

<ng-template #template>
  <div class="modal-header">
    <div>
      <h2 style="display: inline-block; margin-right: 10px;">{{form.controls.userName.value}}님</h2>
      <h4 style="display: inline-block; margin-right: 10px;">{{form.controls.withDrawDate.value}}</h4>
    </div>
    <div class="close" (click)="onClose()">&times;</div>
  </div>
  <div>
    <form [formGroup]="form">
      <div class="form-input-text">
        <label>일렬 번호</label>
        <input type="text" formControlName="idx"/>
      </div>
      <div class="form-input-text">
        <label>지급 일</label>
        <input type="text" formControlName="paymentDate"/>
      </div>
      <div class="form-input-text">
        <label>지급 내용</label>
        <input type="text" formControlName="content"/>
      </div>
      <div class="form-input-text">
        <label>이전 금액</label>
        <input type="text" formControlName="prevMileage"/>
      </div>
      <div class="form-input-text">
        <label>요청 금액</label>
        <input type="text" formControlName="withDrawMileage"/>
      </div>
      <div class="form-input-text">
        <label>잔액</label>
        <input type="text" formControlName="afterMileage"/>
      </div>
      <div class="form-input-text">
        <label>승인 여부</label>
        <input type="text" formControlName="approval"/>
      </div>
    </form>
  </div>
  <div class="modal-footer modal-create-footer">
    <button class="btn btn-sub2" (click)="onClose()">취소</button>
    <button class="btn btn-main" (click)="onApproval(form.controls)">승인</button>
  </div>
</ng-template>
