.router-btn{
    text-align: center;
    display: inline-block;
    padding: 20px 0px;
    width: calc((100% / 4) - 8px);
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.router-btn:hover {
    background-color: darkgray;
}

.cash-request-area {
    text-align: right;
    width: 100%;
} 