<div class="content-width" >
    <app-page-title title="제시어"></app-page-title>
    <nkt-grid *ngIf="data != undefined" [data]="data" (dbldata)="onDblClick(data)" [modalTemp]="UpModal"></nkt-grid>
</div>
  
<div #UpModal class="modal">
    <div class="modal-content" style="width: 25%; text-align: left;">
      <div class="modal-header" *ngIf="form != undefined">
        <div>
          <h2>{{form.controls.username}} 정보</h2>
        </div>
        <div class="close" (click)="onClose(UpModal)">&times;</div>
        <div class="close" (click)="onDelete(form.controls, UpModal)">삭제</div>
      </div>
      <div *ngIf="form != undefined" >
        <form [formGroup]="form">
          <div class="form-input-text">
            <label>일렬번호</label>
            <input type="text" formControlName="idx" required/>
          </div>
          <div class="form-input-text">
            <label>사용자</label>
            <input type="text" formControlName="username"/>
          </div>
          <div class="form-input-text">
            <label>비밀번호</label>
            <input type="text" formControlName="pw"/>
          </div>
          <div class="form-input-text">
            <label>생성 일자</label>
            <input type="text" formControlName="insert_date" disabled="true"/>
          </div>
          <div class="form-input-text">
            <label>변경 일자</label>
            <input type="text" formControlName="change_date" disabled="true"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="onClose(UpModal)">취소</button>
        <button (click)="onUpdate(form.controls, UpModal)">수정</button>
      </div>
    </div>
  </div>