<div class="content-width" >
    <app-page-title title="제시어"></app-page-title>
    <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [btnUse]="true" (dbldata)="onDblClick($event)"
    [creModal]="{temp: CreModal, width: 500, height: 500, data: form}"
    [upModal]="{temp: UpModal, width: 500, height: 590, data: form}"></app-admin-grid>
</div>

<ng-template #CreModal>
  <div>
    <div class="modal-header" *ngIf="newform != undefined">
      <div>
        <h2>제시어 추가</h2>
      </div>
      <div class="close" (click)="onClose()">&times;</div>
    </div>
    <div *ngIf="newform != undefined" >
      <form [formGroup]="newform">
        <div class="form-input-text">
          <label>제시어</label>
          <input type="text" formControlName="word"/>
          <span *ngIf="newform.controls.word.hasError('required')" style="color:red; display: block; font-size: 12px;">제시어는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>종류</label>
          <input type="text" formControlName="wordGroup"/>
          <span *ngIf="newform.controls.wordGroup.hasError('required')" style="color:red; display: block; font-size: 12px;">종류는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>시작 일자</label>
          <input type="text" formControlName="startDate"/>
          <span *ngIf="newform.controls.startDate.hasError('required')" style="color:red; display: block; font-size: 12px;">시작 일자는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>마감 일자</label>
          <input type="text" formControlName="endDate"/>
          <span *ngIf="newform.controls.endDate.hasError('required')" style="color:red; display: block; font-size: 12px;">마감 일자는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>설명</label>
          <input type="text" formControlName="description"/>
          <span *ngIf="form.controls.description.hasError('required')" style="color:red; display: block; font-size: 12px;">설명은 필수 입니다.</span>
        </div>
      </form>
    </div>
    <div class="modal-footer modal-create-footer">
      <button class="btn btn-sub2" (click)="onClose()">취소</button>
      <button class="btn" [ngClass]="{'btn-disabled': !newform.valid, 'btn-main' : newform.valid }" (click)="onCreate(newform.controls)" [disabled]="!newform.valid">생성</button>
    </div>
  </div>
</ng-template>

<ng-template #UpModal>
  <div>
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.controls.word.value}} 정보</h2>
      </div>
      <div class="close" (click)="onClose()">&times;</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>일렬번호</label>
          <input type="text" formControlName="idx" />
        </div>
        <div class="form-input-text">
          <label>종류</label>
          <input type="text" formControlName="wordGroup"/>
          <span *ngIf="form.controls.wordGroup.hasError('required')" style="color:red; display: block; font-size: 12px;">종류 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>제시어</label>
          <input type="text" formControlName="word"/>
          <span *ngIf="form.controls.word.hasError('required')" style="color:red; display: block; font-size: 12px;">제시어는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>생성 일자</label>
          <input type="text" formControlName="insertDate" />
        </div>
        <div class="form-input-text">
          <label>시작 일자</label>
          <input type="text" formControlName="startDate"/>
          <span *ngIf="form.controls.startDate.hasError('required')" style="color:red; display: block; font-size: 12px;">시작 일자는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>마감 일자</label>
          <input type="text" formControlName="endDate"/>
          <span *ngIf="form.controls.endDate.hasError('required')" style="color:red; display: block; font-size: 12px;">마감 일자는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>설명</label>
          <input type="text" formControlName="description"/>
          <span *ngIf="form.controls.description.hasError('required')" style="color:red; display: block; font-size: 12px;">설명은 필수 입니다.</span>
        </div>
      </form>
    </div>
    <div class="modal-footer modal-update-footer">
      <button class="btn btn-sub2"(click)="onClose()">취소</button>
      <button class="btn btn-sub"(click)="onDelete(form.controls)">삭제</button>
      <button class="btn"[ngClass]="{'btn-disabled': !form.valid, 'btn-main' : form.valid }" (click)="onUpdate(form.controls)" [disabled]="!form.valid">수정</button>
    </div>
  </div>
</ng-template>

