<div class="content-width" >
    <!-- <app-page-title title="제시어"></app-page-title> -->
    <nkt-grid *ngIf="data != undefined" [data]="data" (dbldata)="onDblClick($event)" [creModalTemp]="CreModal" [upModalTemp]="UpModal"></nkt-grid>
</div>

<div #UpModal class="modal">
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.controls.username}} 정보</h2>
      </div>
      <div class="close" (click)="onClose(UpModal)">&times;</div>
      <div class="close" (click)="onDelete(form.controls, UpModal)">삭제</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>일렬번호</label>
          <input type="text" formControlName="idx" disabled="true"/>
        </div>
        <div class="form-input-text">
          <label>종류</label>
          <input type="text" formControlName="word_group"/>
          <span *ngIf="form.controls.word_group.hasError('required')" style="color:red; display: block; font-size: 12px;">종류 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>제시어</label>
          <input type="text" formControlName="word"/>
          <span *ngIf="form.controls.word.hasError('required')" style="color:red; display: block; font-size: 12px;">제시어는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>생성 일자</label>
          <input type="text" formControlName="insert_date" disabled="true"/>
        </div>
        <div class="form-input-text">
          <label>시작 일자</label>
          <input type="text" formControlName="start_date"/>
          <span *ngIf="form.controls.start_date.hasError('required')" style="color:red; display: block; font-size: 12px;">시작 일자는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>마감 일자</label>
          <input type="text" formControlName="end_date" />
          <span *ngIf="form.controls.end_date.hasError('required')" style="color:red; display: block; font-size: 12px;">마감 일자는 필수 입니다.</span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(UpModal)">취소</button>
      <button (click)="onUpdate(form.controls, UpModal)" [disabled]="!form.valid">수정</button>
    </div>
  </div>
</div>
<div #CreModal class="modal">
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="newform != undefined">
      <div>
        <h2>제시어 추가</h2>
      </div>
      <div class="close" (click)="onClose(CreModal)">&times;</div>
    </div>
    <div *ngIf="newform != undefined" >
      <form [formGroup]="newform">
        <div class="form-input-text">
          <label>제시어</label>
          <input type="text" formControlName="word" required/>
          <span *ngIf="newform.controls.word.hasError('required')" style="color:red; display: block; font-size: 12px;">제시어는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>종류</label>
          <input type="text" formControlName="word_group" required/>
          <span *ngIf="newform.controls.word_group.hasError('required')" style="color:red; display: block; font-size: 12px;">종류는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>시작 일자</label>
          <input type="text" formControlName="start_date" required/>
          <span *ngIf="newform.controls.start_date.hasError('required')" style="color:red; display: block; font-size: 12px;">시작 일자는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>마감 일자</label>
          <input type="text" formControlName="end_date" required/>
          <span *ngIf="newform.controls.end_date.hasError('required')" style="color:red; display: block; font-size: 12px;">마감 일자는 필수 입니다.</span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(CreModal)">취소</button>
      <button (click)="onCreate(newform.controls, CreModal)" [disabled]="!newform.valid">생성</button>
    </div>
  </div>
</div>
