<div class="page-header">
    <div class="header-menu">
        <div>Logo</div>
        <div>LOGOUT</div>
        <div>나의 <span style="color: blue;">엔</span>행시</div>
    </div>
    <div class="header-title">
        <div (click)="onClick()">천하제일</div>
        <div> <span style="color: blue;">엔</span>행시 대회<span style="color: blue;">.</span></div>
    </div>
    <div class="header-hashtag">
        <div>#엔행시</div>
        <div>#작성하고</div>
        <div>#기프티콘</div>
        <div>#선물받자!</div>
    </div>
</div>