<div class="page-header">
    <div class="page-header-content content-width">
        <div class="header-menu">
          <div>
              <app-login *ngIf="!userCheck" style="display: inline-block;"></app-login>
              <div *ngIf="userCheck && this.loginType == 'DEFAULT'" style="cursor: pointer;" (click)="logout()">로그아웃</div>
              <div *ngIf="userCheck && this.loginType == 'KAKAO'" style="cursor: pointer;" (click)="kakaoByLogout()">로그아웃</div>
              <div *ngIf="userCheck" style="cursor: pointer;" routerLink="/my">나의 <span style="color: #100efb;">엔</span>행시</div>
              <div *ngIf="userCheck">{{userName}} 님</div>
          </div>
        </div>
        <div>
            <app-route></app-route>
        </div>
        <div class="header-content">
            <app-logo-l></app-logo-l>
            <div class="header-hashtag">
                <div>#엔행시</div>
                <div>#작성하고</div>
                <div>#기프티콘</div>
                <div>#선물받자!</div>
            </div>
        </div>
    </div>
</div>
