<div class="alert">
    <div class="alert-success" *ngIf="type == 'success'" type="success"><img src="../../../../assets/img/notification/success.png" width="20" height="20"><strong>{{title}}</strong> {{content}}</div>
    <div class="alert-info" *ngIf="type == 'info'" type="info"><img src="../../../../assets/img/notification/info.png" width="20" height="20"><strong>{{title}}</strong> {{content}}</div>
    <div class="alert-warning" *ngIf="type == 'warning'" type="warning"><img src="../../../../assets/img/notification/warning.png" width="20" height="20"><strong>{{title}}</strong> {{content}}</div>
    <div class="alert-danger" *ngIf="type == 'danger'" type="danger"><img src="../../../../assets/img/notification/danger.png" width="20" height="20"><strong>{{title}}</strong> {{content}}</div>
</div>
