.alert {
    position: fixed;
    z-index: 1100;
    padding: 20px;
    top: 0;
    right: 0;
    text-align: right;
  }
  
  .alert > div {
    padding: 10px;
    display: inline-block;
    border-radius: 7px;
    min-width: 100px;
  }
  
  .alert-success {
    border: 1px solid green;
    background-color: green;
    color: white;
  }
  .alert-info {
    border: 1px solid blue;
    background-color: blue;
    color: white;
  }
  .alert-warning {
    border: 1px solid yellow;
    background-color: yellow;
  }
  .alert-danger {
    border: 1px solid red;
    background-color: red;
  }
  