.lay-header{
    width: 100%;
    text-align: center;
    background-color: black;
}

.page-route{
    min-height: 30px; 
    height: auto;
}

.lay-header > div{
    width: auto;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 0px 15px;
}


.lay-header > div:hover{
    background-color: darkgray;
}