.lay-header{
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: black;
}

.lay-header > div{
    width: 100px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 20px;
}


.lay-header > div:hover{
    background-color: darkgray;
}