@import url(./paging/paging.component.css);

.grid-wrapper {
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 10px;
}

.grid-title {
  display: inline-block;
  padding: 10px 0px;
  font-weight: bold;
}

.grid-row:hover {
  background-color: darkgray;
}
.grid-field {
  display: inline-block;
  padding: 10px 0px;
  overflow: hidden;
  height: 20px;
}

.grid-command {
  text-align: right;
  margin-right: 10px;
}
.grid-vertical {
  border-bottom: 1px solid darkgray;
  padding: 0px 10px;
}
