<div class="insert-word">

  <form *ngIf="type == 'THREE'" [formGroup]="threeForm">
    <div class="form-input-text">
      <p class="in-word-title">{{contents[0]}}</p>
      <input type="text" class="in-word-in" formControlName="contentOne">
    </div>
    <div class="form-input-text">
      <p class="in-word-title">{{contents[1]}}</p>
      <input type="text" class="in-word-in" formControlName="contentTwo">
    </div>
    <div class="form-input-text">
      <p class="in-word-title">{{contents[2]}}</p>
      <input type="text" class="in-word-in" formControlName="contentThree">
      <div class="insert-btn" (click)="inThree(threeForm.controls)">등록</div>
    </div>
  </form>

  <form *ngIf="type == 'TWO'" [formGroup]="twoForm">
    <div>
      <p class="in-word-title">{{contents[0]}}</p>
      <input type="text" class="in-word-in" formControlName="contentOne">
    </div>
    <div>
      <p class="in-word-title">{{contents[1]}}</p>
      <input type="text" class="in-word-in" formControlName="contentTwo">
      <div class="insert-btn" (click)="inTwo(twoForm.controls)">등록</div>
    </div>
  </form>
</div>
