<div class="content-width">
    <app-page-title title="사용자"></app-page-title>
    <nkt-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" (dbldata)="onDblClick($event)" [creModalTemp]="CreModal" [upModalTemp]="UpModal"></nkt-admin-grid>
</div>

<div #UpModal class="modal">
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.controls.username}} 정보</h2>
      </div>
      <div class="close" (click)="onClose(UpModal)">&times;</div>
      <div class="close" (click)="onDelete(form.controls, UpModal)">삭제</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>일렬번호</label>
          <input type="text" formControlName="idx"/>
        </div>
        <div class="form-input-text">
          <label>사용자</label>
          <input type="text" formControlName="username"/>
          <span *ngIf="form.controls.username.hasError('required')" style="color:red; display: block; font-size: 12px;">사용자 명은 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>이메일</label>
          <input type="text" formControlName="email"/>
          <span *ngIf="newform.controls.email.hasError('required')" style="color:red; display: block; font-size: 12px;">이메일은 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>비밀번호</label>
          <input type="text" formControlName="password"/>
          <span *ngIf="form.controls.password.hasError('required')" style="color:red; display: block; font-size: 12px;">비밀 번호는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>생성 일자</label>
          <input type="text" formControlName="insertDate"/>
        </div>
        <div class="form-input-text">
          <label>변경 일자</label>
          <input type="text" formControlName="changeDate"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(UpModal)">취소</button>
      <button (click)="onUpdate(form.controls, UpModal)" [disabled]="!form.valid">수정</button>
    </div>
  </div>
</div>
<div #CreModal class="modal">
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="newform != undefined">
      <div>
        <h2>사용자 추가</h2>
      </div>
      <div class="close" (click)="onClose(CreModal)">&times;</div>
    </div>
    <div *ngIf="newform != undefined" >
      <form [formGroup]="newform">
        <div class="form-input-text">
          <label>사용자</label>
          <input type="text" formControlName="username"/>
          <span *ngIf="newform.controls.username.hasError('required')" style="color:red; display: block; font-size: 12px;">사용자 명은 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>이메일</label>
          <input type="text" formControlName="email"/>
          <span *ngIf="newform.controls.email.hasError('required')" style="color:red; display: block; font-size: 12px;">이메일은 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>비밀번호</label>
          <input type="password" formControlName="password"/>
          <span *ngIf="newform.controls.password.hasError('required')" style="color:red; display: block; font-size: 12px;">비밀번호는 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>비밀번호 확인</label>
          <input type="password" formControlName="rep"/>
          <span *ngIf="newform.controls.rep.hasError('required')" style="color:red; display: block; font-size: 12px;">비밀번호 확인은 필수 입니다.</span>
          <span *ngIf="!newform.controls.rep.hasError('required') && newform.controls.rep.value != newform.controls.pw.value" style="color:red; display: block; font-size: 12px;">비밀번호가 일치하지 않습니다.</span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(CreModal)">취소</button>
      <button (click)="onCreate(newform.controls, CreModal)" [disabled]="!newform.valid && newform.controls.rep.value != newform.controls.password.value">생성</button>
    </div>
  </div>
</div>
