@media (min-width: 992px){
    .content-top{
        min-width: 100%;
        max-width: 100%;
        margin: 0px auto;
        padding: 10px 0px;
        text-align: center;    
    }

    .word-title{
        font-size: 14px;
        margin: 70px 0px 50px 0px;
    }

    .word {
        height: auto;
        min-width: 100%;
        max-width: 100%; 
        margin: 0px auto;
        padding: 0px;
        text-align: center;
    }
    .word > p {
        font-size: 80px;
        padding: 50px;
        display: inline-block;
        border: 1px solid #100efb;
        border-radius: 20px;
    }

    .word > p {
        margin: 0px 30px;
    }

    .word-descript{
        font-size: 15px;
        margin: 50px 0px 70px 0px;
    }

    .word-descript > p:nth-child(2){
        padding: 0px;
    }
}