<!-- <div class="user-list"> -->
<div class="user-list" (scroll)="onScroll($event)">
    <div *ngIf="top.length > 0" style="margin-bottom: 30px;">
      <div
      class="ranking-container"
      [ngStyle]="idx == 0 ? {'margin': '80px 0px 0px 0px'}: idx == 1 ? {'margin': '0px 15px'}: idx == 2 ? {'margin': '100px 0px 0px 0px'}:{}"
      *ngFor="let item of top; let idx = index;"
    >
            <div *ngIf="item.point > 0">
                <h3 style="text-align: center; margin-bottom: 20px;" *ngIf="idx == 0"><img src="../../../assets/img/medal/silver.PNG" width="80" height="80"></h3>
                <h3 style="text-align: center; margin-bottom: 20px;" *ngIf="idx == 1"><img src="../../../assets/img/medal/gold.PNG"   width="80" height="80"></h3>
                <h3 style="text-align: center; margin-bottom: 20px;" *ngIf="idx == 2"><img src="../../../assets/img/medal/copper.PNG" width="80" height="80"></h3>
                <div class="ranking-card">
                    <div style="margin-bottom: 20px;">
                        <div style="display: inline-block; color: #100efb; font-size: 20px; margin-bottom: 5px;">{{item.userName}}님</div>
                        <div style="display: inline-block; margin: 5px 0px;">
                            <div *ngIf="location">
                                <!-- location true -->
                                <div *ngIf="!loginCheck" style="display: inline-block;">
                                    <img *ngIf="item.me && item.love" class="btn btn-love" src="../../../../assets/img/love.png">
                                    <img *ngIf="!item.me && item.love" class="btn btn-love" src="../../../../assets/img/love-r-border.png">
                                    <img *ngIf="!item.me && !item.love" class="btn btn-love" src="../../../../assets/img/love-b-border.png">
                                </div>
                                <div *ngIf="loginCheck && item.me" style="display: inline-block;">
                                    <img *ngIf="item.love" class="btn btn-love" src="../../../../assets/img/love.png">
                                </div>
                                <div *ngIf="loginCheck && !item.me" style="display: inline-block;">
                                    <img *ngIf="item.love" class="btn btn-love" src="../../../../assets/img/love-r-border.png">
                                    <img *ngIf="!item.love" class="btn btn-love" src="../../../../assets/img/love-b-border.png">
                                </div>
                                <div style="display: inline-block; font-size: 20px;">{{item.point}}</div>
                            </div>
                            <div *ngIf="!location">
                                <!-- location fasle -->
                                <div *ngIf="!loginCheck" style="display: inline-block;">
                                    <img *ngIf="item.me && item.love" class="btn btn-love" src="../../../../assets/img/love.png">
                                    <img *ngIf="!item.me && item.love" class="btn btn-love" src="../../../../assets/img/love-r-border.png">
                                    <img *ngIf="!item.me && !item.love" class="btn btn-love" src="../../../../assets/img/love-b-border.png">
                                </div>
                                <div *ngIf="loginCheck && item.me" style="display: inline-block;">
                                    <img *ngIf="item.love" (click)="deLove(item)" title="취소" class="btn-love" src="../../../../assets/img/love.png">
                                </div>
                                <div *ngIf="loginCheck && !item.me" style="display: inline-block;">
                                    <div *ngIf="type == 'three'">
                                        <img *ngIf="item.love" (click)="upLove(item)" title="좋아요" class="btn-love" src="../../../../assets/img/love-r-border.png">
                                        <img *ngIf="!item.love" (click)="upLove(item)" title="좋아요" class="btn-love" src="../../../../assets/img/love-b-border.png">
                                    </div>
                                    <div *ngIf="type == 'twice'">
                                        <img *ngIf="item.love" (click)="upLove(item)" title="좋아요" class="btn-love" src="../../../../assets/img/love-r-border.png">
                                        <img *ngIf="!item.love" (click)="upLove(item)" title="좋아요" class="btn-love" src="../../../../assets/img/love-b-border.png">
                                    </div>
                                </div>
                                <div style="display: inline-block; font-size: 20px;">{{item.point}}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="ranking-card-word">{{item.word[0]}}</div>
                            <div class="ranking-card-content">{{item.contentOne}}</div>
                        </div>
                        <div style="margin: 10px 0px;">
                            <div class="ranking-card-word">{{item.word[1]}}</div>
                            <div class="ranking-card-content">{{item.contentTwo}}</div>
                        </div>
                        <div>
                            <div class="ranking-card-word">{{item.word[2]}}</div>
                            <div class="ranking-card-content">{{item.contentThree}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        <div class="data-title data-title-total">
            <div>
              TOTAL <span style="color: #100efb;">{{ data == undefined ? 0:data.length}}</span>
            </div>
        </div>
        <div class="data-title data-title-command">
            <div class="btn btn-order" [ngStyle]="{'color': btnCheck == false ? '#100efb':'black'}" (click)="orPopular()">인기 순</div>
            <div class="btn btn-order" [ngStyle]="{'color': btnCheck == true ? '#100efb':'black'}" (click)="orLatest()">최신 순</div>
        </div>
    </div>
    <!-- 삼,이행시 목록 시작 -->
    <div *ngIf="data != undefined || data.length != 0">
      <div class="data-grid" [ngStyle]="{'border-bottom': (idx+1) == data.length ? '':'1px solid darkgray'}" *ngFor="let item of data; let idx = index;">
          <div>
              <div class="data-user">

                   <div>No. {{idx+1}}</div>
                  <div style="color: #100efb;">{{item.userName}}</div>
                  <div>님</div>
                  <div>
                    <div *ngIf="location">
                        <div *ngIf="!loginCheck">
                            <img *ngIf="item.me && item.love" class="btn btn-love" src="../../../../assets/img/love.png">
                            <img *ngIf="!item.me && item.love" class="btn btn-love" src="../../../../assets/img/love-r-border.png">
                            <img *ngIf="!item.me && !item.love" class="btn btn-love" src="../../../../assets/img/love-b-border.png">
                        </div>
                        <div *ngIf="loginCheck && item.me">
                            <img *ngIf="item.love" class="btn btn-love" src="../../../../assets/img/love.png">
                        </div>
                        <div *ngIf="loginCheck && !item.me">
                          <img *ngIf="item.love" class="btn btn-love" src="../../../../assets/img/love-r-border.png">
                          <img *ngIf="!item.love" class="btn btn-love" src="../../../../assets/img/love-b-border.png">
                        </div>
                    </div>
                    <div *ngIf="!location">
                      <div *ngIf="!loginCheck">
                        <img *ngIf="item.me && item.love" class="btn-love" src="../../../../assets/img/love.png">
                        <img *ngIf="!item.me && item.love" class="btn-love" src="../../../../assets/img/love-r-border.png">
                        <img *ngIf="!item.me && !item.love" class="btn-love" src="../../../../assets/img/love-b-border.png">
                      </div>
                      <div *ngIf="loginCheck && item.me">
                        <img *ngIf="item.love" (click)="deLove(item)" title="취소" class="btn-love" src="../../../../assets/img/love.png">
                      </div>
                      <div *ngIf="loginCheck && !item.me">
                          <div *ngIf="type == 'three'">
                              <img *ngIf="item.love" (click)="upLove(item)" title="좋아요" class="btn-love" src="../../../../assets/img/love-r-border.png">
                              <img *ngIf="!item.love" (click)="upLove(item)" title="좋아요" class="btn-love" src="../../../../assets/img/love-b-border.png">
                          </div>
                          <div *ngIf="type == 'twice'">
                              <img *ngIf="item.love" (click)="upLove(item)" title="좋아요" class="btn-love" src="../../../../assets/img/love-r-border.png">
                              <img *ngIf="!item.love" (click)="upLove(item)" title="좋아요" class="btn-love" src="../../../../assets/img/love-b-border.png">
                          </div>
                      </div>
                    </div>
                  </div>
                  <div>{{item.point}}</div>
              </div>
              <div class="data-command">
                  <!-- <div class="btn btn-sub2" *ngIf="userName == item.userName" (click)="onContentUpdate(item)">수정</div> -->
                  <!-- <div *ngIf="my" class="btn btn-sub2" (click)="onDelete(item)">삭제</div> -->
                  <div>{{item.insertDate | slice:0:16}}</div>
              </div>
          </div>
          <div class="data-text">
              <div>
                  <div>{{item.word[0]}}</div>
                  <div>{{item.contentOne}}</div>
              </div>
              <div>
                  <div>{{item.word[1]}}</div>
                  <div>{{item.contentTwo}}</div>
              </div>
              <div>
                  <div>{{item.word[2]}}</div>
                  <div>{{item.contentThree}}</div>
              </div>
          </div>
      </div>
    </div>
    <!-- 삼,이행시 목록 끝 -->
    <div *ngIf="data == undefined || data.length == 0" class="data-none" >결과가 없습니다. 도전해보세요.</div>
    <div style="text-align: center; margin: 20px auto; ">
        <img style="width: 728px; height: 90px;" src="../../../../assets/img/ad-sample.jpg">
    </div>
</div>
