@media (min-width: 992px) {
    .data-title {
        width: 50%;
        display: inline-block;
    }
    .data-title-total {
        font-size: 16px;
        text-align: left;
    }
    .data-title-command {
        font-size: 14px;
    }

    .data-title > div {
        display: inline-block;
    }

    .user-list {
        overflow: auto;
    }

    .data-grid {
        font-size: 13px;
        text-align: center;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .data-grid > div {
        display : inline-block;
        margin: 5px 0px;
        width: 100%;
    }

    .data-text {
        width: 100%;
        text-align: left;
        display: inline-block;
    }

    .data-text > div > div:first-child{
      display: inline-block;
      font-weight: bold;
    }

    .data-text > div > div:last-child{
        display: inline-block;
        margin-left: 10px;
    }
    .data-user {
        text-align: left;
        display: inline-block;
        width: 80%;
        font-size: 16px;
    }

    .data-user > div {
        display: inline-block;
    }

    .data-user > div:nth-child(3){
        margin-left: 20px;
    }

    .data-user > div:nth-child(4){
        color: #e2403e;
        margin-left: 10px;
    }

    .data-command {
        display: inline-block;
        text-align: right;
        width: 20%;
        font-size: 13px;
        color: darkgray;
    }

    .data-command > div{
        margin-left: 10px;
        display: inline-block;
    }

    .data-none {
        text-align: center;
        font-size: 40px;
        margin: 100px 0px;
    }

    .ranking-container {
        vertical-align: top;
        display: inline-block;
        width: calc((100% / 3) - 10px);
    }

    .ranking-card {
        display: inline-block;
        border: 1px solid darkgray;
        border-radius: 5px;
        padding: 10px;
        width: calc(100% - 22px);
    }

    .ranking-card-word {
        width: 10%;
        font-size: 25px;
        font-weight: bold;
        /* vertical-align: top; */
        display: inline-block;
        text-shadow: 5px 5px 3px darkgrey;
    }

    .ranking-card-content {
        display: inline-block;
        word-break: break-word;
        width: 90%;
    }
}
