<div class="user-list">
    <div class="data-title">
        <div>TOTAL {{datas.length}}</div>
        <div class="order-btn" (click)="orLatest(type)">최신 순</div>
        <div class="order-btn" (click)="orPopular(type)">인기 순</div>
    </div>
    <div class="data-grid" [ngStyle]="{'border-bottom': (idx+1) == datas.length ? '':'1px solid darkgray'}" *ngFor="let item of datas; let idx = index;">
        <div>
            <div class="data-user">
                <div style="color: #100efb;">{{item.userName}}</div>
                <div>님</div>
                <div>
                  <div *ngIf="!userCheck">
                    <img *ngIf="item.me && item.love" class="love-btn" src="../../../../assets/img/love.png">
                    <img *ngIf="!item.me && item.love" class="love-btn" src="../../../../assets/img/love-r-border.png">
                    <img *ngIf="!item.me && !item.love" class="love-btn" src="../../../../assets/img/love-b-border.png">
                  </div>
                  <div *ngIf="userCheck && item.me">
                    <img *ngIf="item.love" class="love-btn" src="../../../../assets/img/love.png">
                  </div>
                  <div *ngIf="type == 'THREE'">
                      <div *ngIf="userCheck && !item.me">
                        <img *ngIf="item.love" (click)="upThreeLove(item)" class="love-btn" style="cursor: pointer;" src="../../../../assets/img/love-r-border.png">
                        <img *ngIf="!item.love" (click)="upThreeLove(item)" class="love-btn" style="cursor: pointer;" src="../../../../assets/img/love-b-border.png">
                      </div>
                  </div>
                  <div *ngIf="type == 'TWO'">
                      <div *ngIf="userCheck && !item.me">
                        <img *ngIf="item.love" (click)="upTwoLove(item)" class="love-btn" style="cursor: pointer;" src="../../../../assets/img/love-r-border.png">
                        <img *ngIf="!item.love" (click)="upTwoLove(item)" class="love-btn" style="cursor: pointer;" src="../../../../assets/img/love-b-border.png">
                      </div>
                  </div>
                </div>
                <div>{{item.point}}</div>
            </div>
            <div class="data-date">
                <div>{{item.insertDate | slice:0:16}}</div>
            </div>
        </div>
        <div class="data-text">
            <div>
                <div>{{words[0]}}</div>
                <div>{{item.contentOne}}</div>
            </div>
            <div>
                <div>{{words[1]}}</div>
                <div>{{item.contentTwo}}</div>
            </div>
            <div>
                <div>{{words[2]}}</div>
                <div>{{item.contentThree}}</div>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin: 20px auto; ">
        <img style="width: 728px; height: 90px;" src="../../../../assets/img/ad-sample.jpg">
    </div>
</div>
