.router-btn{
    text-align: center;
    display: inline-block;
    padding: 20px 0px;
    width: calc(100% / 2);
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.router-btn:hover {
    background-color: darkgray;
}

.mileage-request-area {
    text-align: right;
    width: 100%;
}

.mileage-request-header > div{
    width: calc(100% / 3);
    vertical-align: middle;
    display: inline-block;
}

.mileage-request-header > div:first-child{
    text-align: left;
}

.mileage-request-header > div:nth-child(2){
    text-align: center;
}
