<div class="user-list">
    <div class="data-title">
        <div>TOTAL <!--{{}}--></div>
        <div style="float: right; margin-left: 10px;">최신 순</div>
        <div style="float: right; margin-left: 10px;">인기 순</div>
    </div>
    <div class="data-grid" [ngStyle]="{'border-bottom': (idx+1) == datas.length ? '':'1px solid darkgray'}" *ngFor="let item of datas; let idx = index;">
        <div>
            <div class="data-user">
                <div style="color: #100efb;">{{item.name}}</div>
                <div>님</div>
                <div>
                    <img style="height: 15px;" src="../../../../assets/img/love.png">
                    <img style="height: 15px;" src="../../../../assets/img/love-r-border.png">
                    <img style="height: 15px;" src="../../../../assets/img/love-b-border.png">
                </div>
                <div>{{item.point}}</div>
            </div>
            <div class="data-date">
                <div>{{item.date}}</div>
            </div>
        </div>
        <div class="data-text">
            <div>
                <div>{{words[0]}}</div>
                <div>{{item.content_one}}</div>
            </div>
            <div>
                <div>{{words[1]}}</div>
                <div>{{item.content_two}}</div>
            </div>
            <div>
                <div>{{words[2]}}</div>
                <div>{{item.content_three}}</div>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin: 20px auto; ">
        <img style="width: 728px; height: 90px;" src="../../../../assets/img/ad-sample.jpg">
    </div>
</div>