<div class="content-width">
  <div class="treelist-wrapper">
    <div class="btn-area-command">
      <button (click)="onCreateModal(CreModal)" class="btn btn-top-command btn-main">add</button>
    </div>
    <div *ngFor="let field of fields; let f_idx = index" class="treelist-title" [ngStyle]="{'width' : field.width + '%'}">{{field.title}}</div>
    <nkt-tree-list-child [data]="data" [fields]="fields" [type]="type"></nkt-tree-list-child>
  </div>
</div>

<ng-template #CreModal>
  <!-- Modal content -->
  <div>
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>메뉴 생성</h2>
      </div>
      <div class="close" (click)="onClose()">&times;</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>제목</label>
          <input type="text" name="title" formControlName="title" />
          <span *ngIf="form.controls.title.hasError('required')" style="color:red; display: block; font-size: 12px;">제목은 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>그룹</label>
          <input type="text" formControlName="menuGroup" />
          <span *ngIf="form.controls.menuGroup.hasError('required')" style="color:red; display: block; font-size: 12px;">메뉴 그룹은 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>URL</label>
          <input type="text" formControlName="url" />
          <span *ngIf="form.controls.url.hasError('required')" style="color:red; display: block; font-size: 12px;">URL은 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>순서</label>
          <input type="text" formControlName="menuOrder" />
          <span *ngIf="form.controls.menuOrder.hasError('required')" style="color:red; display: block; font-size: 12px;">순서는 필수 입니다.</span>
        </div>
        <div class="form-select">
          <label>권한</label>
          <!-- <select (change)="roleChange($event.target)">
            <option *ngFor="let role of roleData" value="{{ role.idx }}">{{ role.roleName }}</option>
          </select> -->
          <app-infinite-scroll-select [data]="roleData" field="roleName" value="idx" width="100%" (change)="roleChange($event)" ></app-infinite-scroll-select>
        </div>
      </form>
    </div>
    <div class="modal-footer modal-create-footer">
      <button class="btn btn-sub2"(click)="onClose()">취소</button>
      <button class="btn" [ngClass]="{'btn-disabled': !form.valid, 'btn-main' : form.valid }" [disabled]="!form.valid" (click)="onCreate(form.controls)">생성</button>
      <!-- <button class="btn btn-main" [disabled]="form.get('title').invalid == true && form.get('menuGroup').invalid == true && form.get('menuOrder').invalid == true" (click)="onCreate(form.controls)">생성</button> -->
    </div>
  </div>
</ng-template>
