/* input tag */
.form-input-text {
  width: 100%; margin-bottom: 10px;
}

.form-input-text > label:first-child{
  width: 100%; display: inline-block; margin-bottom: 5px; text-align: left;
}

.form-input-text > input{
  width: calc(100% - 10px); display: inline-block; border-radius: 5px; border: 1px solid darkgray; padding: 7px 5px;
}



/* input checkbox */
.form-input-checkbox input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-input-checkbox input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* 글자와 체크박스 사이의 간격을 변경 */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.form-input-checkbox input[type="checkbox"] + label:before {
  /* 가짜 체크박스 */
  content: "";
  position: absolute;
  left: 0;
  top: 0px; /* 이 값을 변경해서 글자와의 정렬 */
  width: 21px; /* 체크박스의 너비를 지정 */
  height: 21px; /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  text-align: center;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.form-input-checkbox input[type="checkbox"] + label:active:before,
.form-input-checkbox input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.form-input-checkbox input[type="checkbox"]:checked + label:before {
  /* 체크박스를 체크했을때 */
  content: "\2714"; /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
