/* select tag */
.form-select {
  width: 100%; margin-bottom: 10px;
}
.form-select > label:first-child{
  width: 100%; display: inline-block; margin-bottom: 5px; text-align: left;
}
.form-select > select{
  width: 100%; display: inline-block; border-radius: 5px; border: 1px solid darkgray; padding: 7px 5px;
}
