<div class="content-width">
    <app-page-title title="공지사항"></app-page-title>
    <app-user-grid *ngIf="data != undefined" [data]="data" [fields]="fields" (dbldata)="onDblClick($event)" [detailTemplate]="template">
      <ng-template #template let-dataItem>
        <div>
          <h2 style="display: inline-block; margin-right: 10px;">{{dataItem.title}}</h2>
          <h4 style="display: inline-block; margin-right: 10px;">{{dataItem.insertDate | slice:0:16}}</h4>
        </div>
        <div style="margin-top: 20px;" [innerHTML]="dataItem.content"></div>
      </ng-template>
    </app-user-grid>
</div>
