<div class="content-width">
  <app-page-title title="권한"></app-page-title>
  <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [btnUse]="true" (dbldata)="onDblClick($event)" [creModal]="CreModal" [upModal]="UpModal"></app-admin-grid>
</div>


<div #CreModal class="modal">
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>권한 생성</h2>
      </div>
      <div class="close" (click)="onClose(CreModal)">&times;</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>권한 명</label>
          <input type="text" formControlName="roleName"/>
          <label *ngIf="form.controls.roleName.hasError('required')" style="color:red; display: block; font-size: 12px;">권한 명은 필수 입니다.</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(CreModal)">취소</button>
      <button (click)="onCreate(form.controls, CreModal)" [disabled]="!form.valid">생성</button>
    </div>
  </div>
</div>

<div #UpModal class="modal">
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.controls.roleName.value}} 정보 </h2>
      </div>
      <div class="close" (click)="onClose(UpModal)">&times;</div>
      <div class="close" (click)="onDelete(form.controls, UpModal)">삭제</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>일렬 번호</label>
          <input type="text" formControlName="idx" disabled="true"/>
        </div>
        <div class="form-input-text">
          <label>권한 명</label>
          <input type="text" formControlName="roleName"/>
          <label *ngIf="form.controls.roleName.hasError('required')" style="color:red; display: block; font-size: 12px;">권한 명은 필수 입니다.</label>
        </div>
        <div class="form-input-text">
          <label>생성 일자</label>
          <input type="text" formControlName="insertDate" disabled="true"/>
        </div>
        <div class="form-input-text">
          <label>수정 일자</label>
          <input type="text" formControlName="changeDate" disabled="true"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(UpModal)">취소</button>
      <button (click)="onUpdate(form.controls, UpModal)" [disabled]="!form.valid && form.controls.roleName.value">수정</button>
    </div>
  </div>
</div>
