<div class="content-width">
  <app-page-title title="권한"></app-page-title>
  <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [btnUse]="true" (dbldata)="onDblClick($event)"
  [creModal]="{temp: CreModal, width: 500, height: 200, data: form}"
  [upModal]="{temp: UpModal, width: 500, height: 400, data: form}"></app-admin-grid>
</div>


<ng-template #CreModal>
  <div>
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>권한 생성</h2>
      </div>
      <div class="close" (click)="onClose()">&times;</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>권한 명</label>
          <input type="text" formControlName="roleName"/>
          <label *ngIf="form.controls.roleName.hasError('required')" style="color:red; display: block; font-size: 12px;">권한 명은 필수 입니다.</label>
        </div>
      </form>
    </div>
    <div class="modal-footer modal-create-footer">
      <button class="btn btn-sub2" (click)="onClose()">취소</button>
      <button class="btn" [ngClass]="{'btn-disabled': !form.valid, 'btn-main' : form.valid}" (click)="onCreate(form.controls)" [disabled]="!form.valid">생성</button>
    </div>
  </div>
</ng-template>

<ng-template #UpModal>
  <div>
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.controls.roleName.value}} 정보 </h2>
      </div>
      <div class="close" (click)="onClose()">&times;</div>

    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>일렬 번호</label>
          <input type="text" formControlName="idx" disabled="true"/>
        </div>
        <div class="form-input-text">
          <label>권한 명</label>
          <input type="text" formControlName="roleName"/>
          <label *ngIf="form.controls.roleName.hasError('required')" style="color:red; display: block; font-size: 12px;">권한 명은 필수 입니다.</label>
        </div>
        <div class="form-input-text">
          <label>생성 일자</label>
          <input type="text" formControlName="insertDate" disabled="true"/>
        </div>
        <div class="form-input-text">
          <label>수정 일자</label>
          <input type="text" formControlName="changeDate" disabled="true"/>
        </div>
      </form>
    </div>
    <div class="modal-footer modal-update-footer">
      <button class="btn btn-sub2" (click)="onClose()">취소</button>
      <button class="btn btn-sub" (click)="onDelete(form.controls)">삭제</button>
      <button class="btn" [ngClass]="{'btn-disabled': !form.valid && form.controls.roleName.value, 'btn-main' : form.valid && form.controls.roleName.value}" (click)="onUpdate(form.controls)" [disabled]="!form.valid && form.controls.roleName.value">수정</button>
    </div>
  </div>
</ng-template>
