<div class="content-width">
    <app-page-title title="출금 신청 내역"></app-page-title>
    <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" (dbldata)="onDblClick($event)" [template]="template">
      <ng-template #template let-dataItem="dataItem">
        <label>사용자 명</label>
        {{dataItem.userName}}
        <label>요청 일자</label>
        {{dataItem.withDrawDate}}
        <label>지급 일</label>
        {{dataItem.paymentDate}}
        <label>지급 내용</label>
        {{dataItem.content}}
        <label>이전 금액</label>
        {{dataItem.prevCash}}
        <label>요청 금액</label>
        {{dataItem.withDrawCash}}
        <label>잔액</label>
        {{dataItem.afterCash}}
        <label>승인 여부</label>
        {{dataItem.approval}}
      </ng-template>
    </app-admin-grid>
</div>
