<router-outlet></router-outlet>


<div #Modal *ngFor="let d of data let index = index"
    [ngStyle]="{left: (((index + 1) * 10)+'%')}"
    style="position: absolute;
            padding: 20px;
            top: 50%;
            background-color: white;
            border: 1px solid darkgray;
            border-radius: 10px;"
    cdkDrag>
  <!-- Title -->
  <div style="border-bottom: 1px solid darkgray; padding-bottom: 10px;">
    <h2 style="display: inline-block; margin-right: 10px;">{{d.title}}</h2>
    <h4 style="display: inline-block; margin-right: 10px;">{{d.insertDate | slice:0:16}}</h4>
  </div>
  <!-- Contents -->
  <div [innerHTML]="d.content" style="margin: 20px 0px;"></div>
  <!-- Commands -->
  <div style="text-align: right;">
    <button class="btn btn-sub2" style="margin-right: 10px;" (click)="noNotice(d)" *ngIf="user">다시 보지 않음</button>
    <button class="btn btn-sub2" (click)="onClose(Modal)">닫기</button>
  </div>
</div>
