<div class="content-width">
    <app-page-title title="메일"></app-page-title>
    <div>
        <div>
          <div style="display:inline-block; width: 200px">
              <div class="form-input-text">
                  <label>Mail Host</label>
                  <input type="text" [(ngModel)]="mailHost"/>
              </div>
          </div>
          <div style="display:inline-block; width: 200px">
              <div class="form-input-text">
                  <label>Mail Port</label>
                  <input type="text" [(ngModel)]="mailPort"/>
              </div>
          </div>
          <div style="display:inline-block; width: 200px">
              <div class="form-input-text">
                  <label>Mail Address</label>
                  <input type="text" [(ngModel)]="mailAddress"/>
              </div>
          </div>
          <div style="display:inline-block; width: 200px">
              <div class="form-input-text">
                  <label>Mail Password</label>
                  <input type="text" [(ngModel)]="mailPassword"/>
              </div>
          </div>
          <div style="display:inline-block; width: 200px">
              <div class="form-input-text">
                  <label>Mail SMTP Protocol</label>
                  <input type="text" [(ngModel)]="mailSmtpProtocol"/>
              </div>
          </div>
          <div style="display:inline-block; width: 200px">
              <div class="form-input-text">
                  <label>Mail SMTP Auth</label>
                  <input type="text" [(ngModel)]="mailSmtpAuth"/>
              </div>
          </div>
          <div style="display:inline-block; width: 200px">
              <div class="form-input-text">
                  <label>Mail SMTP StartTls Enable</label>
                  <input type="text" [(ngModel)]="mailSmtpStartTlsEnable"/>
              </div>
          </div>
          <div style="display:inline-block; width: 200px">
              <div class="form-input-text">
                  <label>Mail Debug</label>
                  <input type="text" [(ngModel)]="mailDebug"/>
              </div>
          </div>
          <div>
              <button class="btn">저장</button>
          </div>
        </div>
        <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [btnUse]="true" (dbldata)="onDblClick($event)"
        [creModal]="{temp: CreModal, width: 500, height: 310, data: form}"
        [upModal]="{temp: UpModal, width: 500, height: 460, data: form}"></app-admin-grid>
    </div>
</div>

<ng-template #CreModal>
  <div>
    <div class="modal-header" *ngIf="newform != undefined">
      <div>
        <h2>메일 템플릿 추가</h2>
      </div>
      <div class="close" (click)="onClose()">&times;</div>
    </div>
    <div *ngIf="newform != undefined" >
      <form [formGroup]="newform">
        <div class="form-input-text">
          <label>메일 제목</label>
          <input type="text" formControlName="title" />
        </div>
        <div class="form-input-text">
          <label>템플릿 파일 명</label>
          <input type="text" formControlName="tempName" />
          <!-- <angular-editor [placeholder]="'Enter text here...'" formControlName="content"></angular-editor> -->
        </div>
        <div class="form-input-text">
          <label>템플릿 명</label>
          <input type="text" formControlName="type" />
        </div>
      </form>
    </div>
    <div class="modal-footer modal-create-footer">
      <button (click)="onClose()">취소</button>
      <button (click)="onCreate(newform.controls)" [disabled]="!newform.valid">생성</button>
    </div>
  </div>
</ng-template>

<ng-template #UpModal>
  <div>
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>메일 템플릿 정보</h2>
      </div>
      <div class="close" (click)="onClose()">&times;</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>일렬번호</label>
          <input type="text" formControlName="idx" />
        </div>
        <div class="form-input-text">
          <label>메일 제목</label>
          <input type="text" formControlName="title" />
        </div>
        <div class="form-input-text">
          <label>템플릿 파일 명</label>
          <input type="text" formControlName="tempName" />
          <!-- <angular-editor [placeholder]="'Enter text here...'" formControlName="content"></angular-editor> -->
        </div>
        <div class="form-input-text">
          <label>템플릿 명</label>
          <input type="text" formControlName="type" />
        </div>
        <div class="form-input-text">
          <label>생성 일자</label>
          <input type="text" formControlName="insertDate" />
        </div>
      </form>
    </div>
    <div class="modal-footer modal-update-footer">
      <button (click)="onClose()">취소</button>
      <button (click)="onDelete(form.controls)">삭제</button>
      <button (click)="onUpdate(form.controls)" [disabled]="!form.valid">수정</button>
    </div>
  </div>
</ng-template>
