<div class="content-width">
    <app-page-title title="메일"></app-page-title>
    <div>
        <div style="display:inline-block; width: 200px">
            <div class="form-input-text">
                <label>Port</label>
                <input type="text" [(ngModel)]="port"/>
            </div>
        </div>
        <div style="display:inline-block; width: 200px">
            <div class="form-input-text">
                <label>Email</label>
                <input type="text" [(ngModel)]="email"/>
            </div>
        </div>
        <div>
            <button class="btn">저장</button>
        </div>
        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
    </div>
</div>
