/* 테스크탑 (가로 해상도가 1200px 보다 작은 화면에 적용) */
@media (min-width: 992px){
    .page-footer{
        height:auto; 
        background-color: #333333; 
        color: white;
    }

    .page-footer > div {
        padding: 30px 50px;
        width: 1100px;
        margin: 0px auto;
    }

    .copyright{
        width: 100%;
        color: white;
        height: auto;
        background-color: #222222;
    }
    .copyright-location {
        width: 1100px;
        margin: 0px auto;
    }
    .copyright-location > div {
        display: inline-block;
        padding: 30px 20px;
        width: calc((100% / 2) - 40px);
    }
    .copyright > div:last-child {
        text-align: right;
    }

    .copyright-contents > div{
        display: inline-block;
    }

    .news-btn{
        width: auto;
        color: black;
        padding: 10px 20px;
        font-size: 20px;
        text-align: center;
        background-color: #00cca8;
        border: 1px solid #00cca8;
        border-radius: 50px;
    }
}