<div class="page-footer">
    <div>
        <h3>천하제일 엔행시 대회 참여 유의사항</h3>
        <ul style="margin:10px 20px;">
            <li>응모작에 대한 저작권은 응모자에게 있으며, "천하제일 엔행시 대회" 주최측에서는 10년동안 마케팅, 홍보등의 목적으로 복제, 배포, 전송, 전시 등에 활용할 수 있습니다.</li>
            <li>응모작 수는 제한이 없습니다.</li>
            <li>응모작은 순수 창작물이여야 하고, 타 공모전 수상 및 제3자의 저작권 등 관련 권리를 침해한 사실이 밝혀질 경우 응모가 취소되며, 이와관련한 법적 분쟁 발생시 모든 책임은 응모자에게 있습니다.</li>
            <li>관련 문의는 고객센터로 연락 부탁드립니다. (email : sample@url.com)</li>
        </ul>
    </div>
    <div>
        <h3>천하제일 엔행시 대회 경품 지급 유의사항</h3>
        <ul style="margin:10px 20px;">
            <li>수상자에게 지급되는 경품의 제세공과금(경품 금액의 22%, 5만원 이상일 경우 부과)은 "천하제일 엔행시 대회" 주최즉에서 부담하며, 제세공과금 처리를 위해서 수상자의 개인정보 및 증빙자료를 요청할 수 있습니다.</li>
            <li>경품은 기프티콘으로 지급 됩니다.(변동 가능)</li>
            <li>경품으로 지급된 기프티콘은 교환 및 환불이 불가하며, 표기된 기간 내 사용이 가능합니다.</li>
            <li>수상자에게 지급되는 기프티콘의 현급화 등 기프티콘 목적 외 사용이 적발될 시 수상자는 관련한 법적 책임을 부담할 수 있습니다.</li>
            <li>응모자가 "천하제일 엔행시 대회" 주최측과 관련된 공지사항을 확인하지 않아 생기는 불이익 및 응모자가 "천하 제일 엔행시 대회"에 참가함으로써 발생한 비용, 피해 손실 등에는 "천하제일 엔행시 대회" 주최즉은 책임을 지지 않습니다.</li>
        </ul>
    </div>
</div>
<div class="copyright">
    <div class="copyright-location">
        <div>
            <div class="copyright-contents">
                <div>저작권 침해 제보</div>
                <div style="margin: 0px 10px;">|</div>
                <div>제휴문의</div>
                <div style="margin: 0px 10px;">|</div>
                <div>광고문의</div>
                <div style="margin: 0px 10px;">|</div>
                <div>이용약관</div>
                <div style="margin: 0px 10px;">|</div>
                <div>개인정보처리 방침</div>
            </div>
            <div>Copyright, 팀명칭. All rights reserved.</div>
        </div>
        <div *ngIf="subCheck">
            <button class="btn news-btn" (click)="onSubscription()">뉴스레터 구독하기</button>
        </div>
    </div>
</div>
