/* Confirm One Start */
.confirm-one-footer > button {
  width: 100%;
}
/* Confirm One End */

/* Confirm Multiple Start */
.confirm-multiple-footer > button {
  width: calc(100% / 2);
}

.confirm-multiple-footer > button:first-child {
  background-color: #ddd;
}
.confirm-multiple-footer > button:last-child {
  background-color: #100efb;
  color: #fff;
}
/* Confirm Multiple End */

/* Confirm Triple Start */
.confirm-triple-footer > button {
  width: calc(100% / 3);
}
.confirm-triple-footer > button:first-child {
  background-color: #ddd;
}
.confirm-triple-footer > button:last-child {
  background-color: #100efb;
  color: #fff;
}
/* Confirm Triple End */

.confirm {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
}

.confirm-container {
  font-family: "Noto Sans cjk kr", "Noto Sans", "Noto Sans KR", "Noto Sans JP",
    "Nanum Gothic", "Nanum Gothic Coding", sans-serif;
  box-sizing: border-box;
  position: fixed;
  width: 40%;
  height: 130px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -20%;
  z-index: 1200;
}

.confirm-box {
  box-sizing: border-box;
  background-color: #fff;
  height: 140px;
  padding: 30px;
}

.confirm-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 210%;
}

.confirm-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
}

.confirm-footer > button {
  font-family: "Noto Sans cjk kr", "Noto Sans", "Noto Sans KR", "Noto Sans JP",
    "Nanum Gothic", "Nanum Gothic Coding", sans-serif;
  height: 56px;
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

.confirm-footer > button:hover {
  cursor: pointer;
}

.confirm-footer > button:first-child {
  background-color: #ddd;
}
