<div class="confirm">
  <div class="confirm-container" [ngStyle]="{'width': width + 'px'}">
    <div class="confirm-header">
      <div>{{title}}</div>
    </div>
    <div class="confirm-body">
      <div>{{content}}</div>
    </div>
    <div class="confirm-footer" [ngClass]="{'confirm-one-footer': btnCount == 1,'confirm-multiple-footer': btnCount == 2, 'confirm-triple-footer': btnCount == 3 }">
      <button *ngIf="btnCount >= 1" (click)="onClickClose()">닫기</button>
      <button *ngIf="btnCount == 3" (click)="onClicCenterBtn()">{{centerBtnTitle}}</button>
      <button *ngIf="btnCount >= 2" (click)="onClicRightBtn()">{{rightBtnTitle}}</button>
    </div>
  </div>
</div>
