<div class="content-width">
  <app-page-title title="이력"></app-page-title>
  <div>
    <div class="btn tap-btn" (click)="onSearchLoginHistory()">Login</div>
    <div class="btn tap-btn" (click)="onSearchSchedule()">Scheduler</div>
  </div>
  <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [btnUse]="false" (dbldata)="onDblClick($event)" [upModalTemp]="UpModal"></app-admin-grid>
</div>

<div #UpModal class="modal">
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.controls.userName.value}} 정보 </h2>
      </div>
      <div class="close" (click)="onClose(UpModal)">&times;</div>
      <div class="close" (click)="onDelete(form.controls, UpModal)">삭제</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>일렬 번호</label>
          <input type="text" formControlName="idx"/>
        </div>
        <div class="form-input-text">
          <label>접속 일자</label>
          <input type="text" formControlName="accessDate"/>
        </div>
        <div class="form-input-text">
          <label>브라우저</label>
          <input type="text" formControlName="browser"/>
        </div>
        <div class="form-input-text">
          <label>사용자 명</label>
          <input type="text" formControlName="userName"/>
        </div>
        <div class="form-input-text">
          <label>사용자 일렬번호</label>
          <input type="text" formControlName="userIdx"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(UpModal)">취소</button>
    </div>
  </div>
</div>
