<div class="content-width">
    <div>
      <!-- <div style="text-align: center;">
        <div style="border:1px solid darkgray; border-radius:50%; height: 200px; width: 200px; margin: -150px auto 0px auto; background-color: white;"></div>
      </div> -->
      <div style="text-align: center; margin-top: 40px;">
        <div style="font-weight: bold; font-size: 50px;">
          <div>
            {{user.username}}
            <button style="margin-left: 10px;" BtnModal (click)="onClick(user)" [modal]="{temp: UpModal, width: 500, height: 460, data: form}">수정</button>
          </div>
        </div>
        <div style="font-size: 20px; margin: 15px 0px;">
          <div>
            <div style="display: inline-block; width: 50px; height: 20px; margin-right: 10px;" [ngStyle]="{'background-color': userGrade.idx ? userGrade.gradeIdx: ''}"></div>
            <div style="display: inline-block; vertical-align: top; margin-top: -1px;">
              <div style="display: inline-block;">{{userGrade.gradeName}} {{total | number}}</div>
              <div style="display: inline-block; vertical-align: top; margin: 1px 0px 0px 10px; font-size: 17px;" (mouseover)="gradeOver()" (mouseout)="gradeOver()">&#x0229B;</div>
            </div>
          </div>
        </div>
        <div *ngIf="gradeView" class="grade-modal">
          <div style="width: 100%; text-align: center; margin-bottom: 20px;">
            <h2>등급 표</h2>
          </div>
          <div *ngFor="let d of grades" class="grade-area">
            <div [ngStyle]="{'background-color': d.idx ? d.idx: ''}"></div>
            <div>{{d.gradeName}}</div>
            <div>
              <div>{{d.startRange}}점</div>
              <div>~</div>
              <div>{{d.endRange}}점</div></div>
          </div>
        </div>
        <div>{{user.email}}</div>
      <div>
      <div style="width: 100%; margin-top: 40px">
        <div class="btn router-btn" routerLink="/my/history/three">
          <div>삼행시</div>
          <div>{{threeTot}}</div>
        </div>
        <div class="btn router-btn" routerLink="/my/history/two">
          <div>이행시</div>
          <div>{{twoTot}}</div>
        </div>
        <!-- <div class="btn router-btn" routerLink="/my/grade">
          <div>총 점수</div>
          <div>{{userGrade.gradeName}} {{total}}</div>
        </div> -->
        <div class="btn router-btn" routerLink="/my/cash">
          <div>포인트</div>
          <div>{{mileage}}</div>
        </div>
      </div>
    </div>
    <div style="padding: 20px;">
      <router-outlet></router-outlet>
    </div>
</div>

<ng-template #UpModal>
  <div>
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.controls.username.value}}님 정보</h2>
      </div>
      <div class="close" (click)="onClose()">&times;</div>
    </div>
    <div *ngIf="form != undefined" >
      <div style="color: darkgray;">{{form.controls.insertDate.value | slice:0:16 }} 가입</div>
      <div>
        <div class="btn" (click)="onUnSubscribe()" *ngIf="subCheck">뉴스레터 구독해제</div>
        <div class="btn" (click)="pwCheck = true" *ngIf="!pwCheck">비밀번호 변경</div>
        <div class="btn" (click)="pwCheck = false" *ngIf="pwCheck">비밀번호 변경 취소</div>
      </div>
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>이메일</label>
          <input type="text" formControlName="email"/>
          <span *ngIf="form.controls.email.hasError('required')" style="color:red; display: block; font-size: 12px;">이메일은 필수 입니다.</span>
        </div>
        <div *ngIf="pwCheck">
          <div class="form-input-text">
            <label><span style="color: red;">* </span>현재 비밀번호</label>
            <input type="password" formControlName="password"/>
            <span class="required-notice-red" *ngIf="form.controls.password.hasError('required')">현재 비밀번호는 필수 입니다.</span>
            <span class="required-notice-red" *ngIf="failedPW">현재 비밀번호가 일치하지 않습니다.</span>
          </div>
          <div class="form-input-text">
            <label><span style="color: red;">* </span>변경 비밀번호</label>
            <input type="password" formControlName="newPassword"/>
            <span class="required-notice-red" *ngIf="form.controls.newPassword.hasError('required')">변경 비밀번호는 필수 입니다.</span>
          </div>
          <div class="form-input-text">
            <label><span style="color: red;">* </span>변경 비밀번호 확인</label>
            <input type="password" formControlName="rep"/>
            <span class="required-notice-red" *ngIf="form.controls.rep.hasError('required')">변경 비밀번호 확인은 필수 입니다.</span>
            <span class="required-notice-red" *ngIf="!form.controls.rep.hasError('required') && form.controls.rep.value != form.controls.newPassword.value">변경 비밀번호가 일치하지 않습니다.</span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer modal-update-footer">
      <button (click)="onClose()">취소</button>
      <button (click)="onDelete(form.controls)">회원 탈퇴</button>
      <button *ngIf="pwCheck" (click)="onUpdate(form.controls)" [disabled]="!form.valid">수정</button>
      <button *ngIf="!pwCheck" (click)="onUpdate(form.controls)" [disabled]="!form.controls.rep.hasError('required')">수정</button>
    </div>
  </div>
</ng-template>
