<div class="content-width">
    <div>
      <!-- <div style="text-align: center;">
        <div style="border:1px solid darkgray; border-radius:50%; height: 200px; width: 200px; margin: -150px auto 0px auto; background-color: white;"></div>
      </div> -->
      <div style="text-align: center; margin-top: 40px;">
        <div style="font-weight: bold; font-size: 30px;">{{user.username}}</div>
        <div>{{user.email}}</div>
      <div>
      <div style="width: 100%; margin-top: 40px">
        <div class="btn router-btn" routerLink="/my/history/three">
          <div>삼행시</div>
          <div>{{threeTot}}</div>
        </div>
        <div class="btn router-btn" routerLink="/my/history/two">
          <div>이행시</div>
          <div>{{twoTot}}</div>
        </div>
        <div class="btn router-btn">
          <div>총 점수</div>
          <div>{{total}}</div>
        </div>
        <div class="btn router-btn" routerLink="/my/cash">
          <div>포인트</div>
          <div>{{mileage}}</div>
        </div>
      </div>
    </div>
    <div style="padding: 20px;">
      <router-outlet></router-outlet>
    </div>
</div>
