<div class="content-width">
    <div>
      <!-- <div style="text-align: center;">
        <div style="border:1px solid darkgray; border-radius:50%; height: 200px; width: 200px; margin: -150px auto 0px auto; background-color: white;"></div>
      </div> -->
      <div style="text-align: center; margin-top: 40px;">
        <div style="font-weight: bold; font-size: 30px;">
          <div></div>{{user.username}} 
          <div>
            <button BtnModal (click)="onClick(user)" [modal]="UpModal">수정</button>
          </div>
        </div>
        <div>{{user.email}}</div>
      <div>
      <div style="width: 100%; margin-top: 40px">
        <div class="btn router-btn" routerLink="/my/history/three">
          <div>삼행시</div>
          <div>{{threeTot}}</div>
        </div>
        <div class="btn router-btn" routerLink="/my/history/two">
          <div>이행시</div>
          <div>{{twoTot}}</div>
        </div>
        <div class="btn router-btn" routerLink="/my/grade">
          <div>총 점수</div>
          <div>{{userGrade.gradeName}} {{total}}</div>
        </div>
        <div class="btn router-btn" routerLink="/my/cash">
          <div>포인트</div>
          <div>{{mileage}}</div>
        </div>
      </div>
    </div>
    <div style="padding: 20px;">
      <router-outlet></router-outlet>
    </div>
</div>

<div #UpModal class="modal">
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.controls.username.value}} 정보</h2>
      </div>
      <div class="close" (click)="onClose(UpModal)">&times;</div>
      <div class="close" (click)="onDelete(form.controls, UpModal)">삭제</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>이메일</label>
          <input type="text" formControlName="email"/>
          <span *ngIf="form.controls.email.hasError('required')" style="color:red; display: block; font-size: 12px;">이메일은 필수 입니다.</span>
        </div>
        <div class="form-input-text">
          <label>비밀번호 변경</label>
        </div>
        <div class="form-input-text">
          <label>가입 일자</label>
          <div>{{form.controls.insertDate.value | slice:0:16 }}</div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(UpModal)">취소</button>
      <button (click)="onUpdate(form.controls, UpModal)" [disabled]="!form.valid">수정</button>
    </div>
  </div>
</div>