<app-user-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [detailTemplate]="detailTemplate">
  <ng-template #detailTemplate let-dataItem>
    <div>
      <label>요청 자</label>
      <div>{{dataItem.userName}}</div>
    </div>
    <div>
      <label>지급 일</label>
      <div>{{dataItem.paymentDate}}</div>
    </div>
    <div>
      <label>지급 내용</label>
      <div>{{dataItem.content}}</div>
    </div>
    <div>
      <label>잔액</label>
      <div>{{dataItem.afterCash}}</div>
    </div>
  </ng-template>
</app-user-grid>
