<div (click)="onClick(LoginContent)" class="btn" style="display: inline-block;">LOGIN</div>
<div (click)="onSignUpClick(SignUpContent)" class="btn" style="display: inline-block; margin-left: 10px;">SIGN UP</div>

<ng-template #LoginContent>
  <h3>Login</h3>
  <div [formGroup]="logInForm" class="login-content">
    <div>
      <input type="text" formControlName="username" placeholder="Enter Your ID" (keyup.enter)="login(logInForm.controls)" />
      <span *ngIf="logInForm.controls.username.hasError('required')" style="color:red; display: block; font-size: 12px;">사용자 명은 필수 입니다.</span>
    </div>
    <div>
      <input type="password" formControlName="password" placeholder="Enter Your PassWord" (keyup.enter)="login(logInForm.controls)" />
      <span *ngIf="logInForm.controls.password.hasError('required')" style="color:red; display: block; font-size: 12px;">비밀번호는 필수 입니다.</span>
    </div>
    <div>
      <button (click)="login(logInForm.controls)" [disabled]="!logInForm.valid">Login In</button>
    </div>
  </div>
</ng-template>

<ng-template #SignUpContent>
  <h3>Sign Up</h3>
  <div *ngIf="signUpForm != undefined" class="login-content">
    <form [formGroup]="signUpForm">
      <div class="form-input-text">
        <label>사용자 명</label>
        <div>
          <button (click)="onDoubleCheck(signUpForm.controls.username.value)">중복확인</button>
        </div>
        <input type="text" formControlName="username"/>
        <span *ngIf="signUpForm.controls.username.hasError('required')" style="color:red; display: block; font-size: 12px;">사용자 명은 필수 입니다.</span>
        <span *ngIf="signUpForm.controls.username.value != '' && signUpForm.controls.username.value != null && !userDupleConfirm" style="color:red; display: block; font-size: 12px;">중복 확인이 필요합니다.</span>
        <span *ngIf="userDupleCheck && userDupleConfirm" style="color:red; display: block; font-size: 12px;">사용중인 이름입니다.</span>
        <span *ngIf="!userDupleCheck && userDupleConfirm" style="color:green; display: block; font-size: 12px;">사용 가능한 이름입니다.</span>
      </div>
      <div class="form-input-text">
        <label>
          <div style="display: inline-block;">이메일</div>
          <div style="display: inline-block;">
            <button (click)="checkEmail(signUpForm.controls.email.value)" [disabled]="signUpForm.controls.email.value == null || signUpForm.controls.email.value == '' ? true:false">인증요청</button>
          </div>
        </label>
        <input type="text" formControlName="email"/>
        <span *ngIf="signUpForm.controls.email.hasError('required')" style="color:red; display: block; font-size: 12px;">이메일은 필수 입니다.</span>
        <span *ngIf="authConfirm" style="color:green; display: block; font-size: 12px;">인증이 완료 되었습니다.</span>
        <span *ngIf="auth != null && !authConfirm" style="color:red; display: block; font-size: 12px;">인증 번호가 일치하지 않습니다.</span>
      </div>
      <div class="form-input-text" *ngIf="auth != null">
        <label>인증 번호</label>
        <input type="text" [(ngModel)]="number" [ngModelOptions]="{standalone: true}" />
        <div style="display: inline-block;">
          <button (click)="checkAuth()">인증확인</button>
        </div>
      </div>
      <div class="form-input-text" *ngIf="auth != null"></div>
      <div class="form-input-text">
        <label>비밀번호</label>
        <input type="password" formControlName="password"/>
        <span *ngIf="signUpForm.controls.password.hasError('required')" style="color:red; display: block; font-size: 12px;">비밀번호는 필수 입니다.</span>
      </div>
      <div class="form-input-text">
        <label>비밀번호 확인</label>
        <input type="password" formControlName="rep"  (keyup.enter)="onCreate(signUpForm.controls)"/>
        <span *ngIf="signUpForm.controls.rep.hasError('required')" style="color:red; display: block; font-size: 12px;">비밀번호 확인은 필수 입니다.</span>
        <span *ngIf="!signUpForm.controls.rep.hasError('required') && signUpForm.controls.rep.value != signUpForm.controls.password.value" style="color:red; display: block; font-size: 12px;">비밀번호가 일치하지 않습니다.</span>
      </div>
    </form>
  </div>
  <div>
    <button (click)="onClose()">취소</button>
    <button (click)="onCreate(signUpForm.controls)" [disabled]="signUpForm.valid == false || authConfirm == false  || userDupleConfirm == false ">회원가입</button>
  </div>
</ng-template>
