<div class="content-width">
    <app-page-title title="LOGS"></app-page-title>
    <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [btnUse]="false" (dbldata)="onDblClick($event)"
    [upModal]="{temp: UpModal, width: 500, height: 400, data: form}"></app-admin-grid>
</div>

<ng-template #UpModal>
  <div>
      <div class="modal-header" *ngIf="form != undefined">
          <div>
              <h2>Log 내용</h2>
          </div>
          <div class="close" (click)="onClose()">&times;</div>
      </div>
      <div *ngIf="form != undefined">
          <form [formGroup]="form">
              <div class="form-input-text">
                  <label>Logger</label>
                  <input type="text" formControlName="logger"/>
              </div>
              <div class="form-input-text">
                  <label>Level</label>
                  <input type="text" formControlName="level"/>
              </div>
              <div class="form-input-text">
                  <label>Message</label>
                  <input type="text" formControlName="message"/>
              </div>
              <div class="form-input-text">
                  <label>생성 일</label>
                  <input type="text" formControlName="insertDate"/>
              </div>
          </form>
      </div>
      <div class="modal-footer modal-create-footer">
          <button (click)="onClose()">취소</button>
          <button (click)="onDelete(form.controls)">삭제</button>
      </div>
  </div>
</ng-template>
