@media (min-width: 992px){
    .content-top{
        min-width: 100%;
        max-width: 100%;
        margin: 0px auto;
        padding: 10px 0px;
        text-align: center;    
    }

    .word-title{
        font-size: 14px;
        margin: 20px 0px;
    }

    .word {
        height: auto;
        min-width: 100%;
        max-width: 100%; 
        margin: 0px auto;
        padding: 10px 0px;
        text-align: center;
    }
    .word > p {
        font-size: 80px;
        padding: 20px;
        display: inline-block;
        border: 1px solid #333333;
        border-radius: 10px;
    }

    .word > p:nth-child(2){
        margin: 0px 50px;
    }

    .word-descript{
        font-size: 15px;
        margin: 20px 0px;
    }

    .word-descript > p:nth-child(2){
        padding: 5px 0px;
    }
}