<div>
  <div [ngStyle]="{ width: gridWidth == null ? '100%':gridWidth + 'px' }" style="margin: 20px auto;">
    <div class="grid-wrapper">
      <div *ngFor="let field of fields" class="grid-title" [ngStyle]="{'width': field.width + '%'}">{{ field.title }}</div>

      <div RowDbclick (dblclick)="onDblClick(d)" *ngFor="let d of sliceData; let d_idx = index" class="grid-row">
        <div *ngFor="let f of fields; let f_idx = index" class="grid-field"
              [ngStyle]="{'background-color' : (f_idx % 2) == 0 ? '#e5e5e5' : '', 'width' : f.width + '%', 'text-align' : f_idx == 0 ? 'left' : 'center'}">
          <div BtnClick (click)="onDblClick(d)" *ngIf="f_idx == 0" class="btn" style="margin: 0px 10px; display: inline-block;">&#62;</div>
          <div style="display: inline-block;">{{ onData(d_idx, f.field) }}</div>
        </div>
        <div class="grid-row-details" style="display: none;">
          <ng-container *ngTemplateOutlet="template"></ng-container>
        </div>
      </div>

    </div>
    <div class="page-info">
      <div class="page-count-group">
        <div class="page-count-btn-group">
          <div class="page-count-btn" (click)="firstPage()">&#x027EA;</div>
          <div class="page-count-btn" (click)="prevPage()">&#x027E8;</div>
        </div>
        <div
          *ngFor="let p of pageList; let pageIdx = index"
          class="pageCount_{{ pageIdx + 1 }} page-count"
          (click)="changePage(pageIdx + 1)">
          {{ pageIdx + 1 }}
        </div>
        <div class="page-count-btn-group">
          <div class="page-count-btn" (click)="nextPage()">&#x027E9;</div>
          <div class="page-count-btn" (click)="endPage()">&#x027EB;</div>
        </div>
        <div>
          <select (change)="reSize($event.target.value)" class="page-select">
            <option *ngFor="let s of sizeList" [selected]="s == size" [value]="s">{{ s }}</option>
          </select>
        </div>
      </div>
      <div>
        <div>{{ skip + 1 }} - {{ take }} of {{ tot }}</div>
      </div>
    </div>
  </div>
</div>
