<div>
  <div [ngStyle]="{ width: gridWidth == null ? '100%':gridWidth + 'px' }" style="margin: 20px auto;">
    <div class="grid-wrapper" style="border: 1px solid darkgray">
      <div *ngFor="let field of fields; let t_idx = index;" class="grid-title"
            [ngStyle]="{'width': field.width + '%'}">{{ field.title }}</div>
            <!-- [ngStyle]="{'width': field.width + '%', 'border-left': t_idx == 0 ? '1px solid darkgray': '', 'border-right': (t_idx+1) == fields.length ? '1px solid darkgray': ''}">{{ field.title }}</div> -->

      <div RowDbclick (dblclick)="onDblClick(d)" *ngFor="let d of sliceData; let d_idx = index" class="grid-row">
        <div *ngFor="let f of fields; let f_idx = index" class="grid-field"
              [ngStyle]="{'width' : f.width + '%'}">
          <div BtnClick (click)="onDblClick(d)" *ngIf="f_idx == 0" style="margin: 0px 10px; display: inline-block;">&#62;</div>
          <div *ngIf="f_idx == 0 && d.type" style="margin: 0px 10px; display: inline-block; background-color: red; color: white;">공지</div>
          <div style="display: inline-block;">{{ d | gridData: f.field : f.type }}</div>
        </div>
        <div class="grid-row-details" style="display: none;">
          <ng-container *ngTemplateOutlet="detailTemplate; context:{$implicit: d}"></ng-container>
        </div>
      </div>

    </div>
    <div class="page-info">
      <div class="page-count-group">
        <div class="page-count-btn-group">
          <!-- <div class="page-count-btn" (click)="firstPage()">&#x027EA;</div> -->
          <div class="page-count-btn" (click)="prevPage()">Prev</div>
        </div>
        <div style="display: inline-block;">
          <app-infinite-scroll-select [data]="pageList" field="field" value="value" width="100px" (change)="clickValue($event)"></app-infinite-scroll-select>
        </div>
        <div class="page-count-btn-group">
          <div class="page-count-btn" (click)="nextPage()">Next</div>
          <!-- <div class="page-count-btn" (click)="endPage()">&#x027EB;</div> -->
        </div>
      </div>
      <div class="page-info-details">
        <app-infinite-scroll-select [data]="sizeList" field="field" value="value" width="100px" (change)="reSize($event)" style="display: inline-block;"></app-infinite-scroll-select>
        <div style="display: inline-block; margin-left: 20px; font-weight: bold;">{{ skip + 1 }} - {{ take }} of {{ tot }}</div>
      </div>
    </div>
  </div>
</div>
