<div class="content-width">
  <div [ngStyle]="{ width: gridWidth == null ? '100%':gridWidth + 'px' }" style="margin: 20px auto;">
    <div class="grid-wrapper">
      <div class="grid-command">
        <button BtnModal *ngIf="btnUse && userRoles.includes('ROLE_ADMIN')" class="btn" [modal]="creModalTemp">생성</button>
      </div>
      <div *ngFor="let field of fields" class="grid-title" [ngStyle]="{'width': field.width + '%'}">{{ field.title }}</div>

      <div RowModal (dblclick)="onDblClick(d)" [modal]="upModalTemp" *ngFor="let d of data; let d_idx = index" class="grid-row">
        <div *ngFor="let f of fields; let f_idx = index" class="grid-field" [ngStyle]="{'background-color' : (f_idx % 2) == 0 ? '#e5e5e5' : '', 'width' : f.width + '%'}">
          {{ onData(d, f.field) }}
        </div>
      </div>

    </div>
    <div class="page-info">
      <div class="page-count-group">
        <div class="page-count-btn-group">
          <div class="page-count-btn" (click)="firstPage()">&#x027EA;</div>
          <div class="page-count-btn" (click)="prevPage()">&#x027E8;</div>
        </div>
        <div
          *ngFor="let p of pageList; let pageIdx = index"
          class="pageCount_{{ pageIdx + 1 }} page-count"
          (click)="changePage(pageIdx + 1)"
          [ngStyle]="{ 'border-right': pageIdx + 1 == pageList.length ? '1px solid darkgray' : '', 'background-color': pageIdx == 0 ? '#e5e5e5' : '' }"
        >
          {{ pageIdx + 1 }}
        </div>
        <div class="page-count-btn-group">
          <div class="page-count-btn" (click)="nextPage()">&#x027E9;</div>
          <div class="page-count-btn" (click)="endPage()">&#x027EB;</div>
        </div>
        <div>
          <select (change)="reSize($event.target.value)">
            <option *ngFor="let s of sizeList" [selected]="s == size" [value]="s">{{ s }}</option>
          </select>
        </div>
      </div>
      <div>
        <div>{{ skip + 1 }} - {{ take }} of {{ tot }}</div>
      </div>
    </div>
  </div>
</div>
