@import url(../paging/paging.component.css);

.grid-wrapper {
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 10px;
}

.grid-title {
  display: inline-block;
  /* border-top: 1px solid darkgray; */
  background-color: darkblue;
  color: white;
  padding: 10px 0px;
  font-weight: bold;
}

/* .grid-row {
  border-top: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray;
} */

.grid-row:hover {
  background-color: #ededed;
  cursor: pointer;
}

.grid-field {
  /* border-bottom: 1px solid darkgray; */
  display: inline-block;
  padding: 10px 0px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: -4px;
  text-align: left;
}

.grid-command {
  text-align: right;
  margin-right: 10px;
}

.grid-vertical {
  border-bottom: 1px solid darkgray;
  padding: 0px 10px;
}

.grid-row-details {
  border-top: 1px solid darkgray;
  padding: 20px 30px;
  text-align: left;
}
