 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tree-list-row {
  border-top: 1px solid darkgray;
  cursor: pointer;
}

.tree-list-row-last {
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  cursor: pointer;
}
.tree-list-row-last:hover {
  border-top-color: pink;
  border-bottom-color: pink;
  border-left : 1px solid pink;
  border-right : 1px solid pink;
}
.tree-list-row:hover {
  border-bottom : 1px solid pink;
  border-left : 1px solid pink;
  border-right : 1px solid pink;
  border-top-color: pink;
}
.tree-list-row-field {
  display: inline-block;
  height: 40px;
  overflow: hidden;
  width:calc((100%/9));
}

.modal-header {
  border-bottom: 1px solid darkgray;
  margin-bottom: 10px;
}
.modal-header > div{
  display: inline-block;
}

.modal-footer {
  width: 100%;
}
.modal-footer > button {
  width: 50%;
  padding: 10px 0px;
}
