 .tree-list-row {
  cursor: pointer;
}

.tree-list-row-last {
  cursor: pointer;
}

.tree-list-row-field {
  display: inline-block;
  height: 40px;
  overflow: hidden;
}

.tree-list-row-field-frist {
  text-align: left;
  display: inline-block;
  height: 40px;
  overflow: hidden;
}

.tree-list-row-child {
  padding-left: 20px; 
  border-left: 1px solid darkgray;
}