<div id="{{d.menuGroup}}_treelist" *ngFor="let d of data; let d_idx = index;" [ngClass]="d_idx == data.length-1 ? 'tree-list-row-last':'tree-list-row'">
  <div RowModal (dblclick)="onDblClick(d)" [modal]="UpModal" *ngFor="let field of fields; let field_idx = index"
  [ngStyle]="{'background-color' : (field_idx % 2) != 0 ? '#e5e5e5' : '', 'width' : field.width + '%'}"
  [ngClass]="field_idx == 0 ? 'tree-list-row-field-frist':'tree-list-row-field'">
    <div *ngIf="field_idx == 0" style="display: inline-block;">
        <button *ngIf="d.child == true && d.children == undefined" (click)="onExpand(d)" style="display: inline-block;margin-right: 10px;">&#9662;</button>
        <button *ngIf="d.child == true && d.children != undefined" (click)="onCollapse(d)" style="display: inline-block;margin-right: 10px;">&#9652;</button>
        <button (click)="onCreateModal(d, CreModal)" style="display: inline-block;margin-right: 10px;">+</button>
    </div>
    <div style="display: inline-block; padding: 10px 0px;">
        {{onData(d, field.field)}}
    </div>
  </div>
  <div class="tree-list-row-child">
    <nkt-tree-list-child *ngIf="d.children != undefined" [data]="d.children" [fields]="fields"></nkt-tree-list-child>
  </div>
</div>



<div #CreModal class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>메뉴 생성</h2>
      </div>
      <div class="close" (click)="onClose(CreModal)">&times;</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>부모 ID</label>
          <input type="text" formControlName="parent" />
        </div>
        <div class="form-input-text">
          <label>제목</label>
          <input type="text" name="title" formControlName="title" />
          <label *ngIf="form.get('title') == undefined"> title is required. </label>
        </div>
        <div class="form-input-text">
          <label>그룹</label>
          <input type="text" formControlName="menuGroup" />
        </div>
        <div class="form-input-text">
          <label>URL</label>
          <input type="text" formControlName="url" />
        </div>
        <div class="form-input-text">
          <label>순서</label>
          <input type="text" formControlName="menuOrder" />
        </div>
        <div class="form-select">
          <label>권한</label>
          <select (change)="roleChange($event.target)" formControlName="roleIdx">
            <option *ngFor="let role of roleData" value="{{ role.idx }}">{{ role.roleName }}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(CreModal)">취소</button>
      <button [disabled]="form.get('title').invalid == true && form.get('menuGroup').invalid == true && form.get('menuOrder').invalid == true"
              (click)="onCreate(form.controls, CreModal)">생성</button>
    </div>
  </div>
</div>

<div #UpModal class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header" *ngIf="form != undefined">
      <div>
        <h2>{{form.get('title').value}} 정보</h2>
      </div>
      <div class="close" (click)="onDelete(form.controls, UpModal)">삭제</div>
      <div class="close" (click)="onClose(UpModal)">&times;</div>
    </div>
    <div *ngIf="form != undefined" >
      <form [formGroup]="form">
        <div class="form-input-text">
          <label>제목</label>
          <input type="text" formControlName="title" required/>
          <label *ngIf="form.get('title') == undefined"> title is required. </label>
        </div>
        <div class="form-input-text">
          <label>그룹</label>
          <input type="text" formControlName="menuGroup"/>
        </div>
        <div class="form-input-text">
          <label>URL</label>
          <input type="text" formControlName="url"/>
        </div>
        <div class="form-input-text">
          <label>순서</label>
          <input type="text" formControlName="menuOrder"/>
        </div>
        <div class="form-input-text">
          <label>Level</label>
          <input type="text" formControlName="level" />
        </div>
        <div class="form-input-text">
          <label>하위 여부</label>
          <input type="text" formControlName="child" />
        </div>
        <div class="form-input-text">
          <label>생성 일자</label>
          <input type="text" formControlName="insertDate" />
        </div>
        <div class="form-input-text">
          <label>ID</label>
          <input type="text" formControlName="idx" />
        </div>
        <div class="form-input-text">
          <label>부모 ID</label>
          <input type="text" formControlName="parent" />
        </div>
        <div class="form-select">
          <label>권한</label>
          <select (change)="roleChange($event.target)" formControlName="roleIdx">
            <option *ngFor="let role of roleData" value="{{ role.idx }}" label="{{role.roleName}}" [selected]="role.idx == form.controls.roleIdx ? true:false">{{ role.roleName }}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(UpModal)">취소</button>
      <button (click)="onUpdate(form.controls, UpModal)">수정</button>
    </div>
  </div>
</div>
