
@import url(../src/assets/css/button.css);
@import url(../src/assets/css/input.css);
@import url(../src/assets/css/modal.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
    width: 100%;
    background-color: white;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'NanumSquare', sans-serif;
    color: #111;
}

.blue-font{
    color: 100efb;
}

.content-width {
    width : 1100px;
    margin: 10px auto;
}
