@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}
 
html{
    height: 100%;
    width: 100%;
    background-color: #ececec;
}

body{
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: 'NanumSquare', sans-serif;
}