.card {
    border: 1px solid darkgray; 
    background-color: #f1f1f1; 
    box-shadow: 4px 4px 10px 0px; 
    margin: auto;
    display: inline-block;
    border-radius: 5px;
}

.ani-card {
    vertical-align: top;
    width: calc((100% - 70px) / 3);
    height: 300px;
}

.list-card {
    width: calc((100% - 200px) / 3);
    padding: 10px;
    margin: 20px;
    height: 250px;
}