<div class="content-width">
  <div [ngStyle]="{ width: gridWidth == null ? '100%':gridWidth + 'px' }" style="margin: 20px auto;">
    <div class="grid-wrapper">
      <div class="grid-command">
        <button BtnModal *ngIf="btnUse && userRoles.includes('ROLE_ADMIN')" class="btn btn-main" [modal]="creModal">생성</button>
      </div>
      <div *ngFor="let field of fields" class="grid-title" [ngStyle]="{'width': field.width + '%'}">{{ field.title }}</div>

      <div RowModal (dblclick)="onDblClick(d)" [modal]="upModal" *ngFor="let d of sliceData; let d_idx = index" class="grid-row">
        <div *ngFor="let f of fields; let f_idx = index" class="grid-field" [ngStyle]="{'background-color' : (f_idx % 2) == 0 ? '#e5e5e5' : '', 'width' : f.width + '%'}">
          <!-- {{ onData(d_idx, f.field) }} -->
          <div *ngIf="f_idx == 0 && d.type == true" style="margin: 0px 10px; display: inline-block; background-color: red; color: white;">공지</div>
          <div style="display: inline-block;">{{ d | gridData: f.field : f.type }}</div>
        </div>
      </div>

    </div>
    <div class="page-info">
      <div class="page-count-group">
        <div class="page-count-btn-group">
          <!-- <div class="page-count-btn" (click)="firstPage()">&#x027EA;</div> -->
          <div class="page-count-btn" (click)="prevPage()">Prev</div>
        </div>
        <div style="display: inline-block;">
          <app-infinite-scroll-select [data]="pageList" field="field" value="value" width="100px" (change)="clickValue($event)"></app-infinite-scroll-select>
        </div>
        <div class="page-count-btn-group">
          <div class="page-count-btn" (click)="nextPage()">Next</div>
          <!-- <div class="page-count-btn" (click)="endPage()">&#x027EB;</div> -->
        </div>
      </div>
      <div>
        <app-infinite-scroll-select [data]="sizeList" field="field" value="value" width="100px" style="display: inline-block;" (change)="reSize($event)"></app-infinite-scroll-select>
        <div style="display: inline-block; margin-left: 20px; font-weight: bold;">{{ skip + 1 }} - {{ take }} of {{ tot }}</div>
      </div>
    </div>
  </div>
</div>
