@import url(../paging/paging.component.css);

.grid-wrapper {
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 10px;
}

.grid-title {
  display: inline-block;
  padding: 10px 0px;
  font-weight: bold;
}

.grid-row:hover {
  background-color: #ededed;
  cursor: pointer;
}

.grid-field {
  border-bottom: 1px solid darkgray;
  display: inline-block;
  padding: 10px 0px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: -4px;
}

.grid-command {
  text-align: right;
  margin-right: 10px;
}

.grid-vertical {
  border-bottom: 1px solid darkgray;
  padding: 0px 10px;
}
