<app-user-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [detailTemplate]="detailTemplate">
  <ng-template #detailTemplate let-dataItem>
    <div class="mileage-detail-header">
      <div>
        <div>요청 자 {{dataItem.userName}}</div>
        <div>잔액 {{dataItem.paymentMileage | number}}</div>
      </div>
      <div>
        <div>{{dataItem.paymentDate | slice:0:16}}</div>
      </div>
    </div>
    <div>
      <label><h3>지급 내용</h3></label>
      <div>{{dataItem.content}}</div>
    </div>
  </ng-template>
</app-user-grid>
