<div class="content-width">
  <app-page-title title="배치"></app-page-title>
  <div>
    <div class="btn tap-btn" (click)="onSearchScheduler()">Scheduler</div>
    <div class="btn tap-btn" (click)="onSearchJob()">Job</div>
    <div class="btn tap-btn" (click)="onSearchTrigger()">Trigger</div>
  </div>
  <app-admin-grid *ngIf="data != undefined" [data]="data" [fields]="fields" [btnUse]="true" (dbldata)="onDblClick($event)" [creModalTemp]="CreQuartz" [upModalTemp]="UpQuartz"></app-admin-grid>
</div>


<div #CreQuartz>
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header">
      <div class="close" (click)="onClose(CreQuartz)">&times;</div>
      <div class="close" (click)="onDelete(form.controls, CreQuartz)">삭제</div>
    </div>
    <div>
      <form [formGroup]="form">
        <!-- Scheduler -->
        <div *ngIf="formCheck == 'scheduler'">
          <div class="form-input-text">
            <label>Scheduler Name</label>
            <input type="text" formControlName="name"/>
          </div>
          <div class="form-input-text">
            <label>Job Idx</label>
            <input type="text" formControlName="jobIdx"/>
          </div>
          <div class="form-input-text">
            <label>Trigger Idx</label>
            <input type="text" formControlName="triggerIdx"/>
          </div>
        </div>
        <!-- Trigger -->
        <div *ngIf="formCheck == 'trigger'">
          <div class="form-input-text">
            <label>Trigger Name</label>
            <input type="text" formControlName="name"/>
          </div>
          <div class="form-input-text">
            <label>Trigger Title</label>
            <input type="text" formControlName="title"/>
          </div>
          <div class="form-input-text">
            <label>Description</label>
            <input type="text" formControlName="description"/>
          </div>
          <div class="form-input-text">
            <label>Job Title</label>
            <input type="text" formControlName="jobTitle"/>
          </div>
        </div>
        <!-- Job -->
        <div *ngIf="formCheck == 'job'">
          <div class="form-input-text">
            <label>Job Name</label>
            <input type="text" formControlName="name"/>
          </div>
          <div class="form-input-text">
            <label>Job Title</label>
            <input type="text" formControlName="title"/>
          </div>
          <div class="form-input-text">
            <label>Description</label>
            <input type="text" formControlName="description"/>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(CreQuartz)">취소</button>
    </div>
  </div>
</div>

<div #UpQuartz>
  <div class="modal-content" style="width: 25%; text-align: left;">
    <div class="modal-header">
      <div class="close" (click)="onClose(UpQuartz)">&times;</div>
      <div class="close" (click)="onDelete(form.controls, UpQuartz)">삭제</div>
    </div>
    <div>
      <form [formGroup]="form">
        <!-- Scheduler -->
        <div *ngIf="formCheck == 'scheduler'">
          <div class="form-input-text">
            <label>Index</label>
            <input type="text" formControlName="idx"/>
          </div>
          <div class="form-input-text">
            <label>Scheduler Name</label>
            <input type="text" formControlName="name"/>
          </div>
          <div class="form-input-text">
            <label>Job Idx</label>
            <input type="text" formControlName="jobIdx"/>
          </div>
          <div class="form-input-text">
            <label>Trigger Idx</label>
            <input type="text" formControlName="triggerIdx"/>
          </div>
          <div class="form-input-text">
            <label>Insert Date</label>
            <input type="text" formControlName="insertDate"/>
          </div>
        </div>
        <!-- Trigger -->
        <div *ngIf="formCheck == 'trigger'">
          <div class="form-input-text">
            <label>Index</label>
            <input type="text" formControlName="idx"/>
          </div>
          <div class="form-input-text">
            <label>Trigger Name</label>
            <input type="text" formControlName="name"/>
          </div>
          <div class="form-input-text">
            <label>Trigger Title</label>
            <input type="text" formControlName="title"/>
          </div>
          <div class="form-input-text">
            <label>Description</label>
            <input type="text" formControlName="description"/>
          </div>
          <div class="form-input-text">
            <label>Job Title</label>
            <input type="text" formControlName="jobTitle"/>
          </div>
          <div class="form-input-text">
            <label>Insert Date</label>
            <input type="text" formControlName="insertDate"/>
          </div>
        </div>
        <!-- Job -->
        <div *ngIf="formCheck == 'job'">
          <div class="form-input-text">
            <label>Index</label>
            <input type="text" formControlName="idx"/>
          </div>
          <div class="form-input-text">
            <label>Job Name</label>
            <input type="text" formControlName="name"/>
          </div>
          <div class="form-input-text">
            <label>Job Title</label>
            <input type="text" formControlName="title"/>
          </div>
          <div class="form-input-text">
            <label>Description</label>
            <input type="text" formControlName="description"/>
          </div>
          <div class="form-input-text">
            <label>Insert Date</label>
            <input type="text" formControlName="insertDate"/>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="onClose(UpQuartz)">취소</button>
    </div>
  </div>
</div>
